.profile-page-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  padding: 1.6rem;

  width: 38.56rem;

  height: 43vh;

  text-align: center;
}

.login-page-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding: 1.6rem;

  width: 38.56rem;

  height: 70%;

  text-align: center;
}

.text-field-container {
  display: flex;
  width: 20rem;

  align-items: center;
  justify-content: center;
}

.login-buttons-container {
}

.profile-avatar {
  height: 11.16rem;
  width: 11.16rem;

  border-radius: 11.16rem;
}
