.home-page-section {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  padding-top: 2.5vh;

  padding-left: 11.03rem;
  padding-right: 11.03rem;
}

/* Map Section */
.map-container {
}

.map-image {
  height: 80vh; /*80% of visual port vertical height*/

  border-radius: 1.25rem;
  border: 0.5rem solid #5c5c5c;
  box-shadow: 2px 2px 2px black;
}

/* Columns Section */

/* Buttons Section */
.select-building-button {
  width: 10.81rem;

  color: black !important;
  font-size: 1.1rem !important;

  background-color: white !important;
}

.select-building-button:hover {
  background-color: #afafaf !important;
}

.select-building-button-container {
  display: flex;
  flex-direction: column;

  padding-top: 0rem;
  padding-bottom: 0rem;
}
